---
layout: page
---
<!--<script>
  window.onload=function () {
    var ul = document.getElementById("ul");
    var length = ul.children.length
    alert(length)
  }
</script>-->
<ul id="ul" class="list-posts">
  {% assign empty_category = true %}
  {% assign  pagenum1 = 0 %}
  {% for post in site.posts %}
  {% if post.categories contains page.category %}
  {% assign  pagenum1 = page.num %}
  {%capture demo %}{{pagenum1|plus:1 }}{% endcapture %}
  {{demo}}
  <div class="post postContent">
    <div  class="postDate"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>
    </div>
    <div class="postTag">
      {{post.tag}}
    </div>
    <br>
    <div class="postTitle">
      <a class='postLink' href="{{site.url}}{{site.baseurl}}{{post.url}}">{{post.title}}</a>
    </div>
    <div class="postExt">
      {{post.excerpt}}
    </div>
  </div>
  {% assign empty_category = false %}
  {% endif %}
  {% endfor %}

  {% if empty_category %}
  <li class="empty-post-list">
    It seems that there are no articles on that category,
    please go back <a href="/">home</a> to see the full list of articles.
  </li>
  {% endif %}

</ul>
