---
layout: default
---
<article class="post">
    <div class="wrapper">
        <center>
            <div class="trigger site-navigation">
                <a class="page-link" href="{{site.url}}{{site.baseurl}}">最开始的地方</a>

                {% for sitePage in site.pages %}
                {% if sitePage.title %}

                <span class="exclamationMark">/</span><a class="page-link"
                                                         href="{{sitePage.url | prepend: site.baseurl }}">{{sitePage.title}}</a>
                {% endif %}
                {% endfor %}
            </div>
        </center>
    </div>

    {%if page.tagline%}
    <div class="tagline">
        <span class="page-title">{{page.title}}</span> <span class="page-tagline"><em>{{page.tagline}}</em></span>
    </div>
    {% endif %}

    <div class="post-content">
        {{ content }}
    </div>
</article>
